<% if @itinerary.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@itinerary.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @itinerary.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @itinerary do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.label :name_the_itinerary, "Name the Itinerary" %>:
	<%= f.text_field :name %><br><br>
 

	<%= f.fields_for :destinations do |destination| %>
		<%= destination.label :city %>:
		<%= destination.text_field :city%><br><br>
    <%= destination.label :state, "Enter the State" %>:
    <%= destination.text_field :state %><br><br>
  	<% end %>

  	<%= f.fields_for :reservations, @itinerary.reservations.build do |res_f| %>
	<%= res_f.label :reserved_time, "Reserved Time" %>:
	<%= res_f.text_field :reserved_time %><br>
	<% end %><br>


	<%= f.submit %>
<% end %> <br>

<%= link_to 'Back', user_path(current_user) %>
