<h1> <%= @itinerary.name %> </h1> <br> 

<% @itinerary.destinations.collect do |dest| %>
<h3> City That You're Visiting:</h3> <%= dest.city %>
<% end %><br> <br>

<% @itinerary.reservations.collect do |res| %>
<h3> Reserved Time:</h3> <%= res.reserved_time %>
<% end %><br><br>

<h3> Available Restuarants: </h3>
<%= link_to 'Add a Restaurant', edit_user_reservation_path(@user, @reservation) %><br><br>


<%= link_to 'Home', user_path(current_user) %>

<%= link_to 'Edit', edit_user_itinerary_path(@user, @itinerary) %>

<%= link_to 'Delete', user_itinerary_path(@user, @itinerary), method: :delete %>



