<h1> <%= @itinerary.name %> </h1> <br> 

<% @itinerary.destinations.collect do |dest| %>
<h3> City That You're Visiting:</h3> <%= dest.city %>
<% end %><br> <br>

<% @itinerary.reservations.collect do |res| %>
<h3> Reserved Time:</h3> <%= res.reserved_time %>
<% end %><br><br><br>

<%= form_for @reservation do |f| %>
    <%= f.text_field :reserved_time %>
    <%= f.hidden_field :itinerary_id, :value => @itinerary.id %>
	<%= f.collection_radio_buttons(:restaurant_id, @restaurants, :id, :name) %>
	<%= f.submit "Add a restuarant" %>
<% end %><br>


<%= link_to 'Home', user_path(current_user) %>

<%= link_to 'Edit', edit_user_itinerary_path(@user, @itinerary) %>

<%= link_to 'Delete', user_itinerary_path(@user, @itinerary), method: :delete %>



