<h1> Hello! <%= current_user.name %> </h1>
<br>

<%= link_to 'Edit User Info', edit_user_path(current_user) %><br><br>

<%=link_to 'Create a New Itinerary', new_user_itinerary_path(current_user) %> 
<br>
<br>
<br>
<strong> Itineraries </strong>
<%= render 'itineraries/itinerary' %>

<strong> Restaurants </strong>
<%= render 'restaurants/restaurant' %><br><br>

<%= button_to 'Show Recent Itinerary', search_path, method: 'get' %>





